/*

!.gitignore

!README.md

!CMakeLists.txt

!/include/
/include/*
!/include/pykrach/
/include/pykrach/*
!/include/pykrach/krach.h

!/src/
/src/*
!/src/krach.cpp
!/src/krach_ext.cpp

!/python/
/python/*
!/python/example.py
!/python/reset_example.py
!/python/control_motor.py
